<%- include('partials/header'); %>
<h1>Compose</h1>
<form action="/addPost" method="post">
<div class="form-group">
  <label for="title">Title:</label>
  <input type="text" class="form-control" id="title" name="titleText" autocomplete="off">
</div>
	<div class="form-group">
  <label for="body">Post:</label>
  <textarea name="bodyText" class="form-control" rows="10" id="body"></textarea>
</div>
<label for="category">Choose a category:</label>
<input type="text" id="category" name="newCategory" autocomplete="off">
	<button type="submit" class="btn btn-primary" name="button">publish</button>
  
</form>
<script src="js/compose.js"></script>
<%- include('partials/footer'); %>